<header>
    <div class="nav-menu">
        <img class="menu-icon" src="assets/images/menu-icon.png">
        <span>MENU</span>
    </div>

    <nav>
        <ul class=nav-links>
            <li>
                <a href="#">
                    <img src="assets/images/wooder-logo.png" alt="">
                </a>
            </li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>

    <div class="nav-info">
        <a href=""><i class="fas fa-info-circle"></i></a>
        <select class="nav-menu-dropdown">
            <option value="">EN</option>
            <option value="">SK</option>
            <option value="">DE</option>
        </select>
    </div>
</header>
